<div class="row mt-4 mb-2">

  <% posts.each do |post| %>
    <div class="container mt-4" style="width: 80%;">

      <div class="row font-default">
        <%#プロフィール画像 %>
        <div class="col-md-3">
          <%#カレントユーザーなら、マイページ それ以外ならユーザー詳細ページ%>
          <div class="text-center">
          <% if current_user == post.user %>
            <%= link_to(mypage_path) do %>
            <%= image_tag post.user.get_profile_image(100,100), class:"rounded-circle" %>
            <% end %>
          <% else %>
            <%= link_to(user_path(post.user.id)) do %>
            <%= image_tag post.user.get_profile_image(100,100), class:"rounded-circle" %>
            <% end %>
          <% end %>
          </div>
          <div class="mt-2 text-center">
          <% if current_user == post.user %>
            <%= link_to(mypage_path) do %>
              <h4><%= post.user.name %><h4>
            <% end %>
          <% else %>
            <%= link_to(user_path(post.user.id)) do %>
              <h4><%= post.user.name %></h4>
            <% end %>
          <% end %>
          </div>
          <div class="row text-center">
            <%#いいね機能 %>
            <div class="col-md-4 offset-md-2" id="favorite_buttons_<%= post.id %>">
              <%= render 'public/posts/favorite', post: post %>
            </div>
            <%#コメント数 %>
            <div class="col-md-6">
              <%= link_to(post_path(post.id)) do %>
              <i class="fa-solid fa-comment"></i> <%= post.post_comments.count %>
              <% end %>
            </div>
          </div>
          <div class="text-center text-muted">
            <%= l post.created_at %>
          </div>
        </div>
        <%= link_to (post_path(post.id)) do %>
        <div class="col-md-9">
        <div class="swieet-content">
          <div class="border-bottom border-dark">
            <span class="lead">Title『<%= post.title %>』</span>
            <span class="float-right text-muted"><i class="far fa-clock clock-icon"></i><%= time_ago_in_words(post.created_at) %>前</span>
          </div>
          <div class="content-text">
            Content：<br><%= Rinku.auto_link(post.content, :all, 'target="_blank"').html_safe %>
          </div>
        </div>
        </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div class="row mt-1 d-flex align-items-center justify-content-center">
    <%= paginate posts %>
</div>