<div class="container-fluid px-sm-0">
    <div class="row">
      <%#サイドバー %>
      <div class="col-md-3 px-5 sidebar-bg">
         

        <%= render 'public/posts/form', post: @post1 %>

      </div>

      <div class="col-md-9 px-5 sns-bg">

        <div class="row">
          <div class="col-md-4">
            <h2 class="mt-4 topic-main">Swieet Edit</h2>
          </div>
        </div>
        <div class="row mb-2 mt-4">
          <div class="container rounded-lg edit-form" style="width: 80%;">
            <%= render 'layouts/error_messages', object: @post %>
            <%= form_with model:@post, local:true do |f| %>

              <div class="form-group mt-3">
                <b><%= f.label :"Title" %></b>
                <%= f.text_field :title, class: 'form-control post_title' %>
              </div>

              <div class="form-group">
                <b><%= f.label :"Content" %></b>
                <%= f.text_area :content, class: 'form-control post_content' %>
              </div>

              <div class="form-group text-center">
                <%= f.submit "編集を保存する", class: 'post-btn btn text-white' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>