<div class="container-fluid px-sm-0">
    <div class="row">
      <% #サイドバー %>
      <div class="col-md-3 px-5 sidebar-bg">
         <% #サイドバー %>

        <%= render 'public/posts/form', post: @post1 %>

      </div>

      <div class="col-md-9 px-5 sns-bg">
      <div class="row">
        <div class="col-md-9">
          <h2 class="mt-4 topic-main"><%= @user.name %>さん</h2>
        </div>
      </div>
      <div class="row mb-4">
        <div class= "tabs">
          <input id="follower" type="radio" name="tab_item" checked >
          <label class="tab_item" for="follower">Followers</label>
          <input id="following" type="radio" name="tab_item">
          <label class="tab_item" for="following">Followings</label>
          <div class="tab_content" id="follower_content">
            <div class="rab_content_description">
              <% if @followers.count == 0 %>
              フォロワーは存在しません
              <% end %>
              <% @followers.each do |user| %>
                <div class="container border-bottom border-dark">
                  <div class="row mb-2 mt-2">
                    <div class="col-md-2">
                    <% #カレントユーザーなら、マイページ それ以外ならユーザー詳細ページ%>
                      <% if current_user == user %>
                        <%= link_to(mypage_path) do %>
                        <%= image_tag user.get_profile_image(80,80), class:"rounded-circle" %>
                        <% end %>
                      <% else %>
                        <%= link_to(user_path(user.id)) do %>
                        <%= image_tag user.get_profile_image(80,80), class:"rounded-circle" %>
                        <% end %>
                      <% end %>
                    </div>
                    <div class="col-md-6 offset-md-1">
                      <% #カレントユーザーなら、マイページ それ以外ならユーザー詳細ページ%>
                      <% if current_user == user %>
                        <%= link_to(mypage_path) do %>
                          <b>Name:</b><%= user.name %><br>
                          <b>Introduction:</b><%= user.introduction %>
                        <% end %>
                      <% else %>
                        <%= link_to(user_path(user.id)) do %>
                          <b>Name:</b><%= user.name %><br>
                          <b>Introduction:</b><%= user.introduction %>
                        <% end %>
                      <% end %>
                    </div>
                    <div class="col-md-3">
                      <div>
                      <%= render "public/relationships/relationshipbtn", user: user %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
            <%#ページネーション%>
            <div class="d-flex align-items-center justify-content-center mt-2">
              <%= paginate @followers %>
            </div>
          </div>
          <div class="tab_content" id="following_content">
            <div class="rab_content_description">
              <% if @followings.count == 0 %>
            　フォローしているユーザーは存在しません
              <% end %>
              <% @followings.each do |user| %>
                <div class="container border-bottom border-dark">
                  <div class="row mb-2 mt-2">
                    <div class="col-md-2">
                    <% #カレントユーザーなら、マイページ それ以外ならユーザー詳細ページ%>
                      <% if current_user == user %>
                        <%= link_to(mypage_path) do %>
                        <%= image_tag user.get_profile_image(80,80), class:"rounded-circle" %>
                        <% end %>
                      <% else %>
                        <%= link_to(user_path(user.id)) do %>
                        <%= image_tag user.get_profile_image(80,80), class:"rounded-circle" %>
                        <% end %>
                      <% end %>
                    </div>
                    <div class="col-md-6 offset-md-1">
                      <% #カレントユーザーなら、マイページ それ以外ならユーザー詳細ページ%>
                      <% if current_user == user %>
                        <%= link_to(mypage_path) do %>
                          <b>Name:</b><%= user.name %><br>
                          <b>Introduction:</b><%= user.introduction %>
                        <% end %>
                      <% else %>
                        <%= link_to(user_path(user.id)) do %>
                          <b>Name:</b><%= user.name %><br>
                          <b>Introduction:</b><%= user.introduction %>
                        <% end %>
                      <% end %>
                    </div>
                    <div class="col-md-3">
                      <div>
                      <%= render "public/relationships/relationshipbtn", user: user %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
            <%#ページネーション%>
            <div class="d-flex align-items-center justify-content-center mt-2">
              <%= paginate @followings %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>