<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2 class="mt-4 rounded-lg border border-dark text-center">投稿一覧</h2>
    </div>
  </div>
   <% #投稿一覧%>
  <div class="row mb-4">
    <% if @posts.count == 0 %>
      投稿は存在しません。
    <% end %>
    <% @posts.each do |post| %>
      <div class="container mt-4 border-bottom border-dark">
        <div class="row">
          <% #プロフィール画像 %>
          <div class="col-md-2">
            <%= image_tag post.user.get_profile_image(100,100) %>
          </div>
          <div class="col-md-8">
            ユーザー名：<%= post.user.name %>
            作成日時:<%= l post.created_at %><br>
            タイトル：<%= post.title %>
          </div>
          <div class="col-mb-2">
            <%= link_to admin_post_path(post), method: :delete, data: { confirm: '本当にBanしますか？' } do %>
              <button type="button" class="btn btn-danger">投稿をBanする</button>
            <% end %>
          </div>
        </div>
        <div class="row mt-2 mb-2">
          <div class="col-md-10 offset-md-2">
            コンテンツ：<%= post.content %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row mt-1 d-flex align-items-center justify-content-center">
    <%= paginate @posts %>
</div>
</div>