<% #myprofofile%>
<div class="row mb-4">
  <div class="col-md-4">
    <h2 class="mt-4 topic-main">Mypage</h2>
  </div>
</div>
<div class="row font-default">

  <div class="container">
    <div class="row">

      <div class="col-md-4 text-center">
        <%= image_tag user.get_profile_image(200,200),class:"rounded-circle" %>
      </div>
      <div class="col-md-8">
        <h3 class="text-muted">Nick Name</h3>
        <h4><%= user.name %></h4>
        <h3 class="text-muted">Introduction</h3>
        <h4><%= user.introduction %></h4>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-4 text-center">
      <h5>
       <%= link_to(user_followers_path(user.id)) do %><%= user.followers.count %><span class="text-muted">follower</span><% end %>
       <%= link_to(user_followings_path(user.id)) do %><%= user.followings.count %><span class="text-muted">following</span><% end %>
      </h5>
      </div>
      <% if user.name != "guestuser" %>
      <div class="col-md-4 offset-md-4">
        <%= link_to(edit_user_path(user.id)) do %>
        <button type="button" class="btn btn-secondary btn-block">profile edit<i class="fa-solid fa-gear"></i></button>
        <% end %>
      </div>
      <% end %>
    </div>
    <div class="row mt-1 mb-2 ">
      <div class="col">
        <div class="btn-group d-flex">
          <% if current_page?(mypage_path) %>
            <a href="/mypage/show" class="btn btn-info active flex-fill">Swieet</a>
            <a href="/mypage/favo" class="btn btn-info flex-fill">いいね</a>
            <a href="/mypage/menus" class="btn btn-info flex-fill">Menu</a>
          <% elsif current_page?(mypagefavo_path) %>
            <a href="/mypage/show" class="btn btn-info flex-fill">Swieet</a>
            <a href="/mypage/favo" class="btn btn-info active flex-fill">いいね</a>
            <a href="/mypage/menus" class="btn btn-info flex-fill">Menu</a>
          <% else %>
            <a href="/mypage/show" class="btn btn-info  flex-fill">Swieet</a>
            <a href="/mypage/favo" class="btn btn-info flex-fill">いいね</a>
            <a href="/mypage/menus" class="btn btn-info active flex-fill">Menu</a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>