<% #otersprofile %>
<div class="row">
  <div class="col-md-8">
    <h2 class="mt-4 topic-main"><%= user.name %>さんのProfile</h2>
  </div>
</div>
<div class="row font-default">

  <div class="container">
    <div class="row">

      <div class="col-md-4 text-center">
        <%= image_tag user.get_profile_image(200,200),class:"rounded-circle" %>
      </div>
      <div class="col-md-8">
        <h4 class="text-muted">Nick Name</h4>
        <h3><%= user.name %></h3>
        <h4 class="text-muted">Introduction</h4>
        <h3><%= user.introduction %></h3>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-4">
       <h5>
          <%= link_to(user_followers_path(user.id)) do %><%= user.followers.count %><span class="text-muted">follower</span><% end %>
          <%= link_to(user_followings_path(user.id)) do %><%= user.followings.count %><span class="text-muted">following</span><% end %>
       </h5>
      </div>
      <div class="col-md-4 offset-md-4">
        <%= render 'public/relationships/relationshipbtn', user: user %>
      </div>
    </div>
    <div class="row mt-1 mb-2 ">
      <div class="col">
        <div class="btn-group d-flex">
          <% if current_page?(user_path(user.id)) %>
            <a href="/users/<%= user.id %>" class="btn btn-info active flex-fill">Swieet</a>
            <a href="/users/<%= user.id %>/menus" class="btn btn-info flex-fill">Menu</a>
          <% else %>
            <a href="/users/<%= user.id %>" class="btn btn-info  flex-fill">Swieet</a>
            <a href="/users/<%= user.id %>/menus" class="btn btn-info active flex-fill">Menu</a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>