<header>
  <nav class="navbar header-content">
    <div class="brand">
      <%= link_to(root_path,class:"navbar-brand",style:"opacity: 0.8;") do %>
      <%= image_tag 'dolphin.png', :size =>'200x60' %>
      <% end %>
    </div>

      <% if user_signed_in? %>
      <ul  style="opacity: 1;">
        <%#投稿一覧ボタン%>
        <%= link_to(posts_path) do %>
          <button class="btn"><%= image_tag 'Swieet.png', :size =>'30x30'%></button>
        <% end %>
        <%#マイページボタン%>
        <%= link_to(mypage_path) do %>
            <button class="btn"><%= image_tag 'mypage.png', :size =>'30x30' %></button>
        <% end %>
        <%#メニューボタン%>
        <%= link_to(mypagemenus_path) do %>
           <button class="btn"><%= image_tag 'menu.png', :size =>'30x30' %></button>
        <% end %>
        <%#ログアウトボタン%>
        <%= link_to(destroy_user_session_path,method: :delete) do %>
          <button class="btn"><%= image_tag 'logout.png', :size =>'30x30' %></button>
        <% end %>
      </ul>

      <% elsif admin_signed_in? %>
      <ul  style="opacity: 1;">
        <%= link_to(admin_top_path) do %>
          <button type="button" class="btn"><%= image_tag 'mypage.png', :size =>'30x30' %></button>
        <% end %>
        <%= link_to(admin_posts_path) do %>
          <button type="button" class="btn"><%= image_tag 'Swieet.png', :size =>'30x30' %></button>
        <% end %>
        <%= link_to(admin_users_path) do %>
          <button type="button" class="btn"><%= image_tag 'registration.png', :size =>'30x30' %></button>
        <% end %>
        <%= link_to(destroy_admin_session_path,method: :delete) do %>
        <button type="button" class="btn"><%= image_tag 'logout.png', :size =>'30x30' %></button>
        <% end %>
      </ul>
      <% else %>
      <ul  style="opacity: 1;">
        <%= link_to(new_user_session_path) do %>
        <button type="button" class="font-head btn"><b>Login</b><%= image_tag 'login.png', :size =>'30x30' %></button>
        <% end %>
        <%= link_to(new_user_registration_path) do %>
        <button type="button" class="font-head btn"><b>会員登録</b><%= image_tag 'registration.png', :size =>'30x30' %></button>
        <% end %>
        <%= link_to(about_path) do %>
        <button type="button" class="font-head btn"><b>Swieetについて</b></button>
        <% end %>
      </ul>
      <% end %>

  </nav>
</header>